/* 清零 */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font: Helvetica,Arial,sans-serif;
	font-size: 12px;
	background-color: #f3f3f3;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

/*导航开始*/
.navi{
	height: 80px;
	background-color: #333;
	color: #fff;
}
.navi .navi-con{
	width: 1440px;
	margin: 0 auto;
}
.navi .navi-con .navi-logo{
	margin: 10px;
}
.navi .navi-con ul{
	display: inline-block;
	top: 0px;
	margin: 10px;
	width: 280px;
	height: 60px;
}
.navi .navi-con ul .navi-title{
	font-size: 20px;
	color: #fff;
	display: inline-block;
	float: right;
	margin: 20px;
	font-weight: bold;
}
.navi .navi-con .about_me{
	position: relative;
	float: right;
	width: 200px;
	height: 60px;
	margin: 10px;
}
.navi .navi-con .about_me img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 10px;
}
.navi .navi-con .about_me p{
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 20px;
}
/*导航结束*/

/*搜索区*/
.hd-search{
	width: 1280px;
	height: 80px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #dcdcdc;
}

/*搜索区结束*/


/*内容区*/
.hd-content{
	width: 1280px;
	margin: 0 auto;
	margin-top: 30px;
}
.hd-content .hd-title{
	font-size: 28px;
	color: #666;
	margin-left: 20px;
	margin-bottom: 15px;
}
.hd-content span{
	font-size: 20px;
	color: #666;
}
.hd-content .con-card{
	position: relative;
	float: left;
	width: 280px;
	height: 320px;
	background-color: #fff;
	border-radius: 2px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}
.hd-content .con-card .con-user{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 10px;
}
.hd-content .con-card .user-title{
	font-size: 16px;
	color: #222;
	position: absolute;
	top: 20px;
	font-weight: bold;
}
.hd-content .con-card .con-pic{
	height: 210px;
	width: 280px;
}
.hd-content .con-card p{
	font: Helvetica,Arial,sans-serif;
	font-size: 14px;
	width: 70px;
	display: inline-block;
	margin-top: 15px;
	margin-right: 10px;
}
/*内容区结束*/

/*页脚*/
.hd-footer{
	margin-top: 40px;
	height: 240px;
	background-color: #dcdcdc;
}
.hd-footer .footer-con{
	width: 1280px;
	margin: 0 auto;
	padding-left: 40px;
}
.hd-footer .footer-conleft{
	display: inline-block;
	padding-top: 10px;
	width: 300px;
}
.hd-footer .footer-conleft .footer-logo{
	display: block;
	margin-top: 10px;
}
.hd-footer .footer-conleft span{
	font-size: 16px;
	color: #666;
}
.hd-footer .footer-conleft p{
	display: block;
	width: 280px;
	margin-top: 20px;
	font-size: 14px;
	color: #666;
}
.hd-footer .footer-conmid{
	display: inline-block;
	position: absolute;
	padding-top: 90px;
	padding-left: 100px;
	width: 300px;
}
.hd-footer .footer-conmid p{
	display: inline-block;
	color: #666;
	font-size: 16px;
	line-height: 30px;
}
.hd-footer .footer-con .footer-conright{
	width: 300px;
}
.hd-footer .footer-con .copyright{
	margin-top: 20px;
}
/*页脚结束*/