/* 清零 */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font: Helvetica,Arial,sans-serif;
	font-size: 12px;
	background-color: #f3f3f3;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

/*导航开始*/
.navi{
	height: 80px;
	background-color: #333;
	color: #fff;
}
.navi .navi-con{
	width: 1080px;
	margin: 0 auto;
}
.navi .navi-con .navi-logo{
	margin: 10px;
}
.navi .navi-con ul{
	float: right;
	margin: 10px;
	width: 280px;
	height: 60px;
}
.navi .navi-con ul .navi-title{
	font-size: 24px;
	color: #fff;
	display: inline-block;
	float: right;
	margin: 20px;

}
/*导航结束*/

/*内容区*/
.content{
	width: 1080px;
	margin: 0 auto;
	border: 1px solid red;
}
/*内容区结束*/

