/* 清零 */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: "Microsoft Yahei", "微软雅黑", "Tahoma", "Arial", "Helvetica", "STHeiti";
	font-size: 12px;
	background-color: #F6F6F4;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

/*导航开始*/
.navi{
	height: 80px;
	background-color: #fff;
	color: #fff;
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}
.navi .navi-con{
	width: 1440px;
	margin: 0 auto;
	position: relative;
}
.navi .navi-con .navi-logo{
	margin: 15px;
}
.navi .navi-con ul{
	position: absolute;
	left: 170px;
	top: 0px;
	margin: 10px;
	width: 280px;
	height: 60px;
}
.navi .navi-con ul .navi-title{
	font-size: 20px;
	color: #222;
	display: inline-block;
	float: right;
	margin: 20px;
	/*font-weight: bold;*/
}
.navi .navi-con .navi-search{
	position: absolute;
	top: 20px;
	right: 240px;
	height: 36px;
	width: 140px;
	border: 2px solid #999;
	border-radius: 36px;
}
.navi .navi-con .navi-search img{
	position: absolute;
	top: 7px;
	right: 12px;
}
.navi .navi-con .navi-search p{
	font-size: 16px;
	color: #999;
	line-height: 35px;
	padding-left: 12px;
}
.navi .navi-con .about_me{
	position: absolute;
	width: 200px;
	height: 60px;
	margin: 10px;
	top: 0px;
	right: 10px;
}
.navi .navi-con .about_me img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 10px;
}
.navi .navi-con .about_me p{
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 20px;
	color: #222;
	margin-left: 5px;
}
/*导航结束*/

/*搜索区*/
.hd-search{
	position: relative;
	width: 1280px;
	height: 300px;
	margin: 0 auto;
	margin-top: 30px;
}
.hd-search .se-box{
	width: 400px;
	height: 300px;
	margin-left: 20px;
	position: relative;
	background-color: #fff;
}
.hd-search .se-box .se-start{
	border: 5px solid #4bf;
	width: 250px;
	height: 50px;
	background-color: #f3f3f3;
	font-size: 18px;
	color: #999;
	padding-left: 55px;
	margin-left: 40px;
	position: absolute;
	top: 40px;
}
.hd-search .se-box .se-end{
	border: 5px solid #4bf;
	width: 250px;
	height: 50px;
	background-color: #f3f3f3;
	font-size: 18px;
	color: #999;
	padding-left: 55px;
	margin-left: 40px;
	position: absolute;
	top: 130px;
}
.hd-search .se-box .icon-start{
	position: absolute;
	left: 50px;
	top: 46px;
}
.hd-search .se-box .icon-end{
	position: absolute;
	left: 50px;
	top: 135px;
}
.hd-search .se-box .se-button{
	display: inline-block;
	width: 140px;
	height: 50px;
	background-color: #4bf;	
	margin-left: 40px;
	margin-top: 220px;
}
.hd-search .se-box .se-button p{
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
.hd-search .hd-banner{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 300px;
	width: 800px;
	margin-right: 20px;
}
.hd-search .se-box .se-more{
	display: inline-block;
	font-size: 18px;
	color: #37a;
	padding-left: 20px;
}
.hd-search .se-boxmore{
	
}
/*搜索区结束*/


/*内容区*/
.hd-content{
	width: 1280px;
	margin: 0 auto;
	margin-top: 30px;
}
.hd-content .hd-title{
	font-size: 28px;
	color: #666;
	margin-left: 20px;
	margin-bottom: 15px;
}
.hd-content span{
	font-size: 20px;
	color: #666;
}
.hd-content .con-card{
	position: relative;
	float: left;
	width: 280px;
	height: 320px;
	background-color: #fff;
	border-radius: 2px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}
.hd-content .con-card .con-user{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 10px;
}
.hd-content .con-card .user-title{
	font-size: 16px;
	color: #222;
	position: absolute;
	top: 20px;
	font-weight: bold;
}
.hd-content .con-card .con-pic{
	height: 210px;
	width: 280px;
}
.hd-content .con-card .con-info{
	margin-left: 15px;
}
.hd-content .con-card p{
	font-size: 14px;
	display: inline-block;
	margin-top: 15px;
	margin-right: 10px;
}
/*内容区结束*/

/*页脚*/
.hd-footer{
	margin-top: 40px;
	padding-bottom: 20px;
	height: 240px;
	background-color: #000;
	box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.3);
}
.hd-footer .footer-con{
	width: 1280px;
	margin: 0 auto;
	padding-left: 40px;
	position: relative;
}
.hd-footer .footer-conleft{
	display: inline-block;
	padding-top: 10px;
	width: 300px;
}
.hd-footer .footer-conleft .footer-logo{
	display: block;
	margin-top: 10px;
}
.hd-footer .footer-conleft span{
	font-size: 16px;
	color: #A3A3A3;
}
.hd-footer .footer-conleft p{
	display: block;
	width: 280px;
	margin-top: 20px;
	font-size: 14px;
	color: #A3A3A3;
}
.hd-footer .footer-conmid{
	position: absolute;
	left: 435px;
	top: 100px;
	width: 300px;
}
.hd-footer .footer-conmid .footer-link{
	display: inline-block;
	color: #A3A3A3;
	font-size: 16px;
	line-height: 30px;
	margin-right: 20px;
}
.hd-footer .footer-con .footer-conright{
	margin-top: 20px;
	width: 300px;
}
.hd-footer .footer-con .footer-conright p{
	color: #A3A3A3;
}
/*页脚结束*/